.field input {
    width: 450px;
    height: 40px;
    border: none;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .2);
    padding-left: 10px;
    margin-right: 80px;
}

.field input::placeholder {
    opacity: 0.4;
}
