.searchButtonMicroservices button{
    width: 145px;
    height: 35px;
    border: none;
    font: inherit;
    font-weight: 200;
    color: white;
    background-color: #f1813a;
    cursor: pointer;
}